*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Tahoma, sans-serif;
}
.control{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:  rgba(3, 169, 244, 0.9);;
    z-index: 2;
    top: 0;
    left: 0;
}
.control span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%) ;
    background-color: #F44336;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    text-align: center;
}
.info{
    width: 1080px;
    margin: 20px auto 0;
    background-color: #F6F6F6;
    padding: 20px;
    font-size: 24px;
    overflow: hidden;
    border: 2px solid #2196f3;
}
.info .name{
    float: left;
    width: 50%;
}
.info .tries{
    float: right;
    width: 50%;
    text-align: right;
}
.game{
    display: flex;
    width: 1100px;
    flex-wrap: wrap;
    margin: 20px auto;
}
.game.stop-clicking{
    pointer-events: none;
}
.game .block{

    height: 200px;
    transition: transform .5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    flex: 1 0 200px;
    margin: 0 10px 20px;

}
.block .front {
    background-color: black;
    line-height: 200px;
  }
  .block .front:before {
    content: '?';
    color: #FFF;
    font-size: 150px;
    font-weight: bold;
  }
  .block .back {
    background-color: #607D8B;
    transform: rotateY(180deg);
  }
.block img{
    width: 150px;
    height: 150px;
    margin-top:25px ;
}
.block .face{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    border: 5px solid #2196F3;;
}
.flipped,
.match{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
    pointer-events: none;
}


